<!doctype html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ICST Demo</title>

<body>

    <h1>View A Skill Contract</h1>
    <div class="container">

            <div class="form-group">
                <label>Producer</label>
                <span id="producer" class="form-control" >{{.Producer}}</span>
            </div>
            <div class="form-group">
                <label>Consumer</label>
                <span id="consumer" class="form-control" >{{.Consumer}}</span>
            </div>
            <div class="form-group">
                <label>Price</label>
                <span id="price" class="form-control">{{.Price}}</span>
            </div>
            <div class="form-group">
                <label>Platform</label>
                <span id="platform" class="form-control" >{{.Platform}}</span>
            </div>
            <div class="form-group">
                <label>Ratio</label>
                <span id="ratio" class="form-control">{{.Ratio}}</span>
            </div>
            <div class="form-group">
                <label>Contract Content</label>
                <textarea id="content" class="form-control" readonly>{{.Content}}</textarea>
            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>